*
!.gitignore
!src/
!src/SilentNotes.WindowsWinForms/
!src/SilentNotes.WindowsWinForms/**
src/SilentNotes.WindowsWinForms/build-output/
src/SilentNotes.WindowsWinForms/obj/
src/SilentNotes.WindowsWinForms/SilentNotes.Core/bin/
src/SilentNotes.WindowsWinForms/SilentNotes.Core/obj/
src/SilentNotes.WindowsWinForms/VanillaCloudStorageClient.Net40/bin/
src/SilentNotes.WindowsWinForms/VanillaCloudStorageClient.Net40/obj/
!src/SilentNotes.WindowsVb/
!src/SilentNotes.WindowsVb/**
src/SilentNotes.WindowsVb/build-output/
src/SilentNotes.WindowsVb/obj/
!src/SilentNotes.AllPlatforms/
!src/SilentNotes.AllPlatforms/**
!src/VanillaCloudStorageClient/
!src/VanillaCloudStorageClient/**
!src/SilentNotes.Blazor/
!src/SilentNotes.Blazor/Resources/
!src/SilentNotes.Blazor/Resources/Raw/
!src/SilentNotes.Blazor/Resources/Raw/Localization/
!src/SilentNotes.Blazor/Resources/Raw/Localization/**
